
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome to NFT Marketplace</title>
  </head>
  <body>
    <h1>Welcome to NFT Marketplace, {{name}}!</h1>
    <p>We're excited to have you on board. With NFT Marketplace, you can:</p>
    <ul>
      <li>Buy and sell unique digital assets</li>
      <li>Create your own NFT collections</li>
      <li>Participate in exclusive auctions</li>
    </ul>
    <p>To get started, please
      <a href="{{loginUrl}}">log in to your account</a>.</p>
    <img
      src="cid:welcome-image"
      alt="Welcome to NFT Marketplace"
      style="max-width: 100%;"
    />
    <p>If you have any questions, feel free to reply to this email. We're here
      to help!</p>
    <p>Best regards,<br />The NFT Marketplace Team</p>
  </body>
</html>